@import '../../styles/index.scss';

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	text-transform: uppercase;
	letter-spacing: 2px;

	.icon {
		padding-left: 0.5em;
		width: 20px;
		height: 20px;

		svg path {
			fill: var(--text-color);
		}
	}
}
